<h2>List of Customers</h2>

<table class="table">
  <thead>
    <tr>
      <th class="cell_first">No</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let customer of customers;
        let i = index;
        let even = even;
        let odd = odd
      "
      [ngClass]="{
        row_odd: odd,
        row_even: even
      }"
    >
      <td class="cell_first">{{ customer.customerNo }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.state }}</td>
    </tr>
  </tbody>
</table>
